@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-height: 100vh;
        @apply flex flex-col min-h-screen bg-pink-100;
    }
    main {
        @apply flex-grow;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}
