---
import BaseLayout from "../layouts/BaseLayout.astro";
import AnimatedHero from "../components/AnimatedHero.astro";
import EventHighlightGroup from "../components/EventHighlightGroup.astro";
import { client } from "~/lib/sanityClient";

const upcomingEvents = await client.fetch(
    `*[_type == "event" && dateTime >= now()] | order(dateTime asc)[0...4]{
        title,
        dateTime,
        location,
        "descriptionPlain": description[0].children[0].text,
        flyer,
        _id
    }`,
);

const title = "IEEE Computer Society @ UCF";
const description =
    "Home page for the IEEE Computer Society Student Chapter at UCF.";
---

<BaseLayout title={title} description={description}>
    <AnimatedHero slot="hero" />
    <section class="w-full px-0 py-8 bg-white">
        <div class="container mx-auto px-4">
            <h2
                class="text-4xl font-bold mb-8 text-center text-ieee-blue dark:text-ieee-orange"
            >
                Upcoming Events
            </h2>
            <EventHighlightGroup events={upcomingEvents} />
        </div>
    </section>
</BaseLayout>
